/* _css3please.scss */
@mixin box_round($radius) {
	border-radius: $radius;
	/* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
  	/* useful if you don't want a bg color from leaking outside the border: */
  	background-clip: padding-box;
  	/* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */	
}
@mixin box_shadow($shadow) {
	-webkit-box-shadow: $shadow;
	/* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
    box-shadow: $shadow;
    /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
}
@mixin box_gradient($from_color, $to_color) {
	background-color: $from_color;
	background-image: -webkit-linear-gradient(top, $from_color, $to_color);
	/* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background-image: linear-gradient(to bottom, $from_color, $to_color);
	/* Chrome 26, Firefox 16+, IE 10+, Opera */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='$from_color', endColorstr='$to_color');
	/*For IE7-8-9*/ 
}
@mixin box_rgba($r, $g, $b, $transparent) {
	background-color: transparent;
  	background-color: rgba($r, $g, $b, $transparent);
  	/* Chrome, Firefox 3+, IE 9+, Opera 10.10+, Safari 3+ */
}
@mixin box_transition($transition) {
	-webkit-transition: $transition;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: $transition;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
@mixin box_rotate($deg) {
	-webkit-transform: rotate($deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate($deg);  /* IE 9 */
    transform: rotate($deg);  /* Firefox 16+, IE 10+, Opera */
}